body {
  position: relative;
  min-height: 100vh;
}
button {
  background: none;
}

.main {
  position: relative;
  margin-left: 70px;
  width: calc(100vw - 70px);
  height: 100vh;
}

#tab-bar {
  width: 100%;
  height: 50px;
  background-color: rgb(37, 37, 38);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 10px solid rgb(30, 30, 30);
}

.tab-btn {
  position: relative;
  color: white;
  height: 100%;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(45, 45, 45);
  border-right: 1px solid rgb(37, 37, 38);
  cursor: pointer;
}
.tab-btn.active {
  background-color: rgb(30, 30, 30);
  border-right: 1px solid rgb(30, 30, 30);
}
.tab-btn:last-child {
  border-radius: 50%;
  width: unset;
  aspect-ratio: 1;
  transform: scale(70%);
}

.tab-btn img {
  filter: invert(100%);
  transform: scale(70%);
}

.tab + .tab {
  display: none;
}

#torrent-navbar {
  position: relative;
  background-color: rgb(30, 30, 30);
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
#torrent-navbar .item:first-child {
  margin-left: 20px;
}
#torrent-navbar .item {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#torrent-navbar .spacer {
  width: 2px;
  height: 80%;
  background-color: rgb(37, 37, 38);
  margin-inline: 8px;
}
#torrent-navbar .item img {
  transform: scale(70%);
}
/*#torrent-navbar .item:hover:not(.last) {
    background-color: rgb(37, 37, 38);
}*/
#torrent-navbar .item:hover {
  cursor: pointer;
}

#torrent-navbar .last {
  position: absolute;
  right: 20px;
}

.download-img {
  filter: invert(45%) sepia(96%) saturate(5775%) hue-rotate(203deg)
    brightness(105%) contrast(103%);
}
.trash-img {
  filter: invert(21%) sepia(67%) saturate(1831%) hue-rotate(341deg)
    brightness(105%) contrast(87%);
}
.select-all {
  filter: invert(60%) sepia(54%) saturate(6282%) hue-rotate(201deg)
    brightness(99%) contrast(94%);
}
.play-img,
.pause-img {
  filter: invert(43%) sepia(12%) saturate(2601%) hue-rotate(56deg)
    brightness(109%) contrast(81%);
}
.last img {
  filter: invert(55%) sepia(33%) saturate(24%) hue-rotate(11deg) brightness(97%)
    contrast(96%);
}

#upload-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 400px;
  background-color: white;
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
  z-index: 11;
}
#upload-form.active {
  display: flex;
}
#upload-form h1 {
  text-align: center;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid silver;
  color: #2691d9;
}
#upload-form {
  padding: 0 40px;
  box-sizing: border-box;
}
#upload-form .txt-field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0 0 0;
}
.txt-field input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  z-index: 9;
}
.txt-field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.txt-field input:focus ~ label,
.txt-field input:valid ~ label {
  top: -5px;
  color: #2691d9;
}
.txt-field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: 0.5s;
}
.txt-field input:focus ~ span::before,
.txt-field input:valid ~ span::before {
  width: 100%;
}
input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  margin: 0 0 30px 0;
}
input[type="button"] {
  width: 50%;
  height: 40px;
  border: 1px solid;
  background: #2e2e2e;
  border-radius: 25px;
  font-size: 15px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  margin: 30px 0 30px 0;
}
input[type="submit"]:hover {
  border-color: #2691d9;
  transition: 0.5s;
}
input[type="button"]:hover {
  border-color: #2e2e2e;
  transition: 0.5s;
}
#cover {
  position: absolute;
  display: none;
  width: 100%;
  height: calc(100vh - 50px);
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10;
}
#cover.active {
  display: block;
}

#select-folder {
  position: absolute;
  display: none;
  z-index: 14;
  top: 50%;
  left: 50%;
  height: 80%;
  width: 80%;
  transform: translate(-50%, -50%);
  background-color: #2e2e2e;
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
  padding: 10px;
}
#select-folder.active {
  display: block;
}
#select-folder .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
#select-folder .navbar * {
  cursor: pointer;
  margin: 5px;
}
#select-folder img {
  filter: invert(100%);
}

#select-folder #folders {
  position: relative;
  margin-left: 40px;
  height: calc(100% - 70px);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#select-folder #folders::-webkit-scrollbar {
  display: none;
}
#folders div {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
#folders div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#folders div strong {
  margin-left: 7px;
}
#select-folder .submit-form {
  position: absolute;
  align-self: flex-end;
  right: 20px;
  bottom: 10px;
  z-index: 15;
}
#select-folder .submit-form .submit {
  width: 80px;
  height: 40px;
  margin: 10px;
  border-radius: 20px;
  font-size: 18px;
  background-color: #2691d9;
  color: white;
  cursor: pointer;
}
#select-folder .submit-form .cancel {
  width: 80px;
  height: 40px;
  margin: 10px;
  border-radius: 20px;
  font-size: 18px;
  background-color: white;
  color: darkred;
  cursor: pointer;
}

#management {
  position: relative;
  height: calc(100% - 50px);
  overflow-x: hidden;
}

#torrents-container {
  position: relative;
  display: block;
  width: 100%;
  height: calc(100% - 40px);
  overflow-y: scroll;
}
#torrents-container::-webkit-scrollbar {
  display: none;
}

#management .torrent {
  position: relative;
  min-height: 70px;
  width: 100%;
  padding: 5px 20px 5px 35px;
  border-bottom: 1px solid #2e2e2e75;
  user-select: none;
}
.torrent:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.torrent.selected {
  background-color: rgba(0, 119, 255, 0.1);
}
.torrent_grab {
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  height: 100%;
  width: 35px;
  cursor: all-scroll;
  background-color: transparent;
}
.torrent_grab img {
  position: relative;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%) scale(40%);
  filter: invert(80%);
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}
.torrent_name {
  font-size: 16px;
  font-weight: 700;
  line-break: anywhere;
}
.torrent_peer_details {
  font-size: 10px;
}
.progress-status {
  padding-top: 2px;
  font-size: 12px;
}
.progress-bar {
  position: relative;
  height: 10px;
  width: 100%;
  background-color: lightblue;
}
.progress-bar::before {
  position: absolute;
  content: "";
  height: 10px;
  width: var(--i);
  background-color: rgb(40, 125, 153);
  transition: 0.1s;
}

.placeholder {
  background-color: #edf2f7;
  border: 2px dashed #cbd5e0;
}

/* search menu */
.container {
  width: 100%;
  height: calc(100vh - 50px);
  background-color: rgb(30, 30, 30);
  overflow-y: scroll;
  overflow-x: hidden;
}
.search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.search-bar .search-btn {
  height: 40px;
  width: 320px;
  background-color: black;
  color: gray;
  -webkit-appearance: none;
  outline: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: medium;
  padding: 17px;
  font-weight: 550;
}
.search-bar button {
  background-color: rgb(139, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 120px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
.search-bar button span {
  font-size: large;
  font-weight: bold;
  color: white;
}
.search-bar button img {
  filter: invert(100%);
  transform: scale(70%);
}

.search-results {
  position: relative;
  width: min(100%, 1000px);
  margin: auto;
  border-left: 1px solid #2e2e2e75;
  border-right: 1px solid #2e2e2e75;
}
.search-results .torrent-header {
  display: grid;
  grid-template-columns: auto 120px 40px 40px 80px;
  padding: 5px 20px 5px 36px;
  border-top: 1px solid #2e2e2e75;
}
.search-results .torrent {
  min-height: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 120px 40px 40px 80px;
  grid-template-rows: 100%;
  align-items: center;
  padding: 5px 20px 5px 36px;
  border-top: 1px solid #2e2e2e75;
  border-bottom: 1px solid #2e2e2e75;
  user-select: none;
}

.search-results span:not(.torrent-title) {
  display: flex;
  justify-content: center;
  word-break: break-all;
}
.search-results .download-link {
  position: absolute;
  left: 6px;
}
.search-results .download-search {
  height: 20px;
  width: 20px;
  filter: invert(60%) sepia(54%) saturate(6282%) hue-rotate(201deg) brightness(99%) contrast(94%);
}
.search-results .torrent-title {
  color: rgb(179, 179, 179);
  font-size: 15px;
  font-weight: 600;
  line-break: anywhere;
  grid-column: 1;
  grid-row: 1;
}

.search-results .torrent .torrent-date,
.search-results .torrent .torrent-seeders,
.search-results .torrent .torrent-peers,
.search-results .torrent .torrent-size,
.search-results .torrent .torrent-magnet {
  grid-row: 1;
}

.search-results .torrent-date {
  color: rgb(179, 179, 79);
}
.search-results .torrent-seeders {
  color: rgb(111, 179, 79);
}
.search-results .torrent-peers {
  color: rgb(179, 82, 79);
}
.search-results .torrent-size {
  color: rgb(79, 119, 179);
}

@media (max-width: 770px) {
  #bars {
    top: 5px;
    filter: invert(100%);
  }
  #bars.active {
    filter: unset;
  }
  .main {
    width: 100%;
    margin: 0;
  }

  #upload-form {
    width: 90%;
  }
  #select-folder {
    width: 95%;
  }
  #select-folder #folders {
    height: calc(100% - 120px);
  }
  #select-folder .submit-form {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    right: 0;
  }
  .search-bar button {
    width: auto;
  }
  .search-bar button span {
    display: none;
  }

  .search-results .torrent {
    min-height: 80px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50%;
  }
  .search-results .torrent .torrent-title {
    font-size: 14px;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    height: fit-content;
  }
  .search-results .torrent-header {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50%;
  }
  .search-results .torrent-header .torrent-title {
    font-size: 14px;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 1;
  }
  .search-results .torrent-header .torrent-date{
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .search-results .torrent .torrent-date {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .search-results .torrent .torrent-seeders,
  .search-results .torrent .torrent-peers,
  .search-results .torrent .torrent-size,
  .search-results .torrent .torrent-magnet {
    grid-row: 3;
  }
}
